/* Import Google Fonts and other initial styles */
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Libre+Baskerville&family=Merriweather:wght@700&family=Work+Sans&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  color: rgb(22, 36, 99);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: url('https://i.pinimg.com/564x/4c/cd/a7/4ccda7a6b5c0d2594c76d7519029ee45.jpg') center/cover no-repeat;
  background-size: cover;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 300%;
  height: 300%;
  background-color: rgba(180, 217, 219, 0.7);
  z-index: -1;
}

/* Main container */
.container {
  padding: 170px;
  margin-top: 80px;
}

h2 {
  color: rgb(17, 25, 56);
  text-align: center;
  font-size: 48px;
  letter-spacing: -0.2px;
  font-family: "Merriweather", serif;
}

p {
  max-width: 50rem;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 100px;
}

/* Buttons container */
.btn-style {
  display: flex;
  justify-content: center; /* Center align the buttons horizontally */
  align-items: center; /* Center align the buttons vertically */
}

/* Buttons */
.btn-style button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn-style button:hover {
  background-color: #165986;
}

button.copied {
  background-color: #27ae60;
  color: #ffffff;
}

/* Customize button color and size */
.btn-custom {
  background-color: #e74c3c;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #c0392b;
}

/* Increase button size */
.btn-large {
  padding: 15px 30px;
  font-size: 18px;
}
